// Colors
$bg-color: rgb(252, 252, 252);
$color-primary: rgb(68, 68, 68);

// Font
$font-family: 'Lato', sans-serif;

// Layout
$container-width-xl: 1140px;
$container-width-lg: 960px;
$container-width-md: 720px;
$container-width-sm: 540px;

$grid-padding: 0 1.5rem;
$grid-margin: 0 -1.5rem;