@use "../abstracts" as *;

.card {
  color: #fff;
  border-radius: 1rem;

  &-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &-subtitle {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .9);
  }

  &-actions {
    i {
      font-size: 2.2rem;
    }
  }

  @include respondMobile(medium) {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}