.vue-notification {
  margin: .5rem .5rem 0 0 !important;

  .notification-title {
    font-size: 1.6rem !important;
    margin-bottom: .5rem;
  }

  .notification-content {
    font-size: 1.4rem !important;
  }
}