.tag {
  background-color: var(--color-theme);
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: all .3s ease;
}